img {
  width: 50%;
  height: 50%;

}
.a {
  font-style: italic;
}
.nav {
  background-color: brown;
} 
.flex-container {
  display: flexbox;
  flex-direction: row;
}
.flex-item {
  align-items: center;
  align-content: center;
}
#logo {
  display: block;
}
.second-card {
  display: flex;
align-items: center;
align-content: center;
}
